{% load static %}

    <button onclick="topFunction()" id="scrollTopButton" title="返回顶部">返回顶部</button>

<br/><br/>

    <footer class="blog-footer">
      <p>Copyright &copy; anthony 2018. 京ICP备17072417号-1 | <a href="mailto:hello@codingcat.cn">联系我</a></p>
      <p>Site page views: {{ site_counter }}</p>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scroll_top.js' %}"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?91b282c77e31928f01f9109efbf4bc44";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>