{% load static %}

<!--
Hey!
 (๑•̀ㅂ•́)و✧

说吧，打开控制台想干啥？

-->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="辛东兴的个人博客网站，分享技术、技能、实用工具，还有其他好玩的东西。">
<meta name="keywords" content="辛东兴,中国人民大学,人工智能,机器学习,自然语言处理，NLP,深度学习,分享,技术,技能,实用工具,一只技术宅,微信公众号">
<meta name="author" content="辛东兴">

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/custom_font.css' %}" rel="stylesheet">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">

<script data-ad-client="ca-pub-4879278771962488" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
