{% load static %}

<!DOCTYPE html>


<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>关于我 - 辛东兴的个人网站</title>
  </head>
 <div>

    {% include 'blog/includes/nav.html' %}

     <br/>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">

          <div class="blog-post">
            <h3>关于</h3>
            <p class="blog-post-meta">About me.</p>

            <p class="bg-light" style="padding:1rem;">
                联系我： <a href="mailto:hello@codingcat.cn">hello@codingcat.cn</a>
            </p>

            <p>本博客使用 Django 搭建，并集成  markdown 编辑器、标签云、分类管理、文章加锁、全文检索等功能，可满足博客的基本需求，更多功能也会随着使用不断增加。</p>
            <p>代码和详细说明见： <a href="https://github.com/dox1994/Django-Blog">https://github.com/dox1994/Django-Blog</a></p>

          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">


          {% include 'blog/includes/aside_wechat.html' %}
          {% include 'blog/includes/aside_links.html' %}


        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}
    

</body>
</html>