{% load static %}

<!DOCTYPE html>


<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>About - Coding Cat</title>
      <style>
          .blog-post{
              background-image:url('{% static 'images/laoshuhuahua.jpg' %}');
              background-size: 100% 100%;
              padding: 5%;
              min-height: 800px;
              color: #000029;
          }
          .blog-post p{
              font-size: 1.1rem;
          }
          body, div, .bg-light, .blog-footer{
              background-color: #ebece6 !important;
          }
      </style>
  </head>
 <div>

    {% include 'blog/includes/nav.html' %}

     <br/>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">

          <div class="blog-post">
            <h3>About</h3>
              <hr/>

            <p>
                Coder.
                <br/><br/>
                享受生活，也努力成长。
            </p>
              <br/><br/><hr/>

          </div><!-- /.blog-post -->
           <p>Source code for this blog: <a href="https://github.com/bytetopia/Django-Blog">https://github.com/bytetopia/Django-Blog</a>. Contact me via <a href="mailto:hello@codingcat.cn">hello@codingcat.cn</a></p>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">


          {% include 'blog/includes/aside_wechat.html' %}
          {% include 'blog/includes/aside_links.html' %}


        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}
    

</body>
</html>