{% load static %}

<!DOCTYPE html>


<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>文章列表 - 辛东兴的个人网站</title>
  </head>
 <div>

    {% include 'blog/includes/nav.html' %}


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h5 class="pb-3 mb-4 border-bottom">
            文章列表
          </h5>

        {% for article in articles.object_list %}
          <div class="blog-post">
            <a href="{% url 'blog:article_detail' article.id %}"><h5>{{article.title}}</h5></a>
            <p class="blog-post-meta">{{article.time}}</p>
            <p>{{article.description}}</p>
            <hr>
          </div><!-- /.blog-post -->
        {% empty %}
            博主太懒，这里什么都没写。<br/>
        {% endfor %}

        {% if articles.object_list %}
            <br/><br/>
         <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if articles.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:article_list' %}?page={{articles.previous_page_number}}&{{filter_string}}">前一页</a></li>
              {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">前一页</a></li>
              {% endif %}

              <li class="page-item"><a class="page-link" style="color:black;" href="#">第 {{articles.number}} 页，共 {{articles.paginator.num_pages}} 页</a></li>

            {% if articles.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'blog:article_list' %}?page={{articles.next_page_number}}&{{filter_string}}">后一页</a></li>
              {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">后一页</a></li>
              {% endif %}
          </ul>
        </nav>

          {% endif %}

        </div><!-- /.blog-main -->

<!--
        <aside class="col-md-4 blog-sidebar">

          <div class="p-3 mb-3 bg-light rounded">
            <h5 class="">Timeline</h5>
            <p class="mb-0">2018年8月</p>
            <p class="mb-0">2018年7月</p>
            <p class="mb-0">2018年6月</p>
            <p class="mb-0">2018年5月</p>
          </div>


        </aside>&lt;!&ndash; /.blog-sidebar &ndash;&gt;
-->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}
    

</body>
</html>