{% load static %}

<!DOCTYPE html>

<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>{{article.title}} - 文章 - 辛东兴的个人网站</title>
      <link href="{% static 'css/segmentfault.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'highlightjs/styles/atom-one-light.css' %}">

      <style>
          /*#renderMd h1{*/
              /*font-size: 1.6rem;*/
          /*}*/
          /*#renderMd h2{*/
              /*font-size: 1.4rem;*/
          /*}*/
          /*#renderMd h3{*/
              /*font-size: 1.2rem;*/
          /*}*/
          /*#renderMd h4{*/
              /*font-size: 1.1rem;*/
          /*}*/
          /*#renderMd h5{*/
              /*font-size: 1rem;*/
          /*}*/
          /*#renderMd h6{*/
              /*font-size: 0.9rem;*/
          /*}*/
          #renderMd img{
              max-width: 95%;
              margin: 10px;
              border: 1px solid #d3d3d3;
          }
      </style>
  </head>
 <body>

    {% include 'blog/includes/nav.html' %}

     <br/>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">

          <div class="blog-post fmt">
            <h1>{{article.title}}</h1>
            <p class="blog-post-meta">{{article.time}}</p>
            <p class="bg-light shadow" style="padding:1rem;">
                {{article.description}}
            </p>
            <br/>
            <div id="renderMd">
                {{article.text}}
            </div>
          </div><!-- /.blog-post -->

            <br/><br/>
            <hr/>
            <br/>

            <h3>
                留言
                <a class="btn btn-sm btn-outline-primary" style="float:right;" data-toggle="collapse" href="#addCommentCollapse">
                   写留言
                </a>
            </h3>
            <br/>

            <div class="collapse" id="addCommentCollapse">
              <div class="card card-body">
                  <form action="{% url 'blog:submit_comment' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="aid" value="{{article.id}}"/>
                      <div class="row">
                          <div class="form-group col-sm-12 col-md-6">
                            <label for="nickName" class="">昵称</label>
                            <input type="text" class="form-control" id="nickName" name="nickName" placeholder="请填写">
                          </div>
                          <div class="form-group col-sm-12 col-md-6">
                            <label for="email" class="">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="请填写">
                          </div>
                      </div>
                      <div class="row">
                           <div class="form-group col-sm-12">
                               <label for="content">留言内容 <span style="color:red;">*</span></label>
                               <textarea class="form-control" id="content" name="content" required rows="3"></textarea>
                           </div>
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary">提交</button>
                  </form>
              </div>
                <br/>
            </div>


            {% for comment in pinned_comments %}
            <div class="card">
              <div class="card-body">
                <h6 class="card-subtitle text-muted" style="margin-bottom:5px;" title="{{comment.email}}">
                    {{comment.user}} <span class="badge badge-primary">置顶</span>
                    <span style="font-size:0.8rem;color:gray;float:right;">{{comment.time}}  </span>
                </h6>
                <p class="card-text">{{comment.text}}</p>
              </div>
            </div>
            <br/>
            {% endfor %}
            {% for comment in normal_comments %}
            <div class="card">
              <div class="card-body">
                <h6 class="card-subtitle text-muted" style="margin-bottom:5px;" title="{{comment.email}}">
                    {{comment.user}}
                    <p style="font-size:0.8rem;color:gray;float:right;">{{comment.time}}</p>
                </h6>
                <p class="card-text">{{comment.text}}</p>
              </div>
            </div>
            <br/>
            {% endfor %}

        </div><!-- /.blog-main -->
<!--

        <aside class="col-md-4 blog-sidebar">

          <div class="p-3 mb-3 bg-light rounded">
            <h5 class="">目录</h5>
            <p class="mb-0">to be added...</p>

          </div>


        </aside>&lt;!&ndash; /.blog-sidebar &ndash;&gt;
-->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}

     <script src="{% static 'showdown/showdown.min.js' %}"></script>
    <script>
        $().ready(function(){
            var converter = new showdown.Converter();
            var source = $('#renderMd').html();
            $('#renderMd').html(converter.makeHtml(source));
        });

    </script>

     <script src="{% static 'highlightjs/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>