{% load static %}

    <footer class="blog-footer">
      <p>Copyright &copy; anthony 2018. <a href="mailto:hello@codingcat.cn">联系我</a></p>
      <!--<p>Visitors count: <a href="http://www.amazingcounters.com"><img border="0" src="https://cc.amazingcounters.com/counter.php?i=3224825&c=9674788" alt="AmazingCounters.com"></a></p>-->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?91b282c77e31928f01f9109efbf4bc44";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>