{% load static %}

<!DOCTYPE html>


<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>Home - Coding Cat</title>
      <link href="{% static 'css/jqcloud.min.css' %}" rel="stylesheet">

  </head>

 <div>

    {% include 'blog/includes/nav.html' %}

    <div class="container">
        <hr/><br/>
        <h5 class="pb-3">
           Pinned Items
          </h5>
      <div class="index-card card-group">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Zen</h5>
                <h6 class="card-subtitle mb-2 text-muted">Chrome New Tab Extension </h6>
                <p class="card-text">Chrome 新标签页插件，自动同步 Bing 每日壁纸。</p>
                <a href="/zen/" class="card-link">Download</a>
                <a href="https://github.com/dox1994/Chrome-New-Tab-with-Bing-Wallpaper" class="card-link">Source Code</a>
              </div>
          </div>
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">My Github</h5>
                <h6 class="card-subtitle mb-2 text-muted">Open Source </h6>
                <p class="card-text">博客文章、开源仓库。</p>
                <a href="https://github.com/dox1994" class="card-link">View Github</a>
              </div>
          </div>
      </div>
    </div>



    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h5 class="pb-3 mb-4 border-bottom">
              Recent Posts
          </h5>

        {% for article in pin_articles %}
          <div class="blog-post">
          {% if article.is_micro == 0 %}
            <a href="{% url 'blog:article_detail' article.id %}"><h5>{{article.title}}</h5></a>
            <p class="blog-post-meta"><span class="badge badge-primary">Pinned</span> {{article.time|date:'M d'}}&nbsp;&nbsp;{{article.time|date:'Y'}}</p>
            <p>{{article.description}}</p>
          {% else %}
            <h5>{{article.title}}</h5>
            <p class="blog-post-meta"><span class="badge badge-secondary">Pinned</span> {{article.time|date:'M d'}}&nbsp;&nbsp;{{article.time|date:'Y'}}</p>
              {% if article.micro_picture %}
                  <p><img src="/uploads/micro_images/{{ article.micro_picture.name }}"></p>
              {% endif %}
            <p>{{article.get_micro_text_html|safe}}<br/><br/></p>
          {% endif %}
            <hr>
          </div><!-- /.blog-post -->
        {% endfor %}

        {% for article in recent_articles %}
          <div class="blog-post">
           {% if article.is_micro == 0 %}
            <a href="{% url 'blog:article_detail' article.id %}"><h5>{{article.title}}</h5></a>
            <p class="blog-post-meta">{{article.time|date:'M d'}}&nbsp;&nbsp;{{article.time|date:'Y'}}</p>
            <p>{{article.description}}</p>
          {% else %}
            <h5>{{article.title}}</h5>
            <p class="blog-post-meta"><span class="badge badge-secondary">MicroBlog</span> {{article.time}}</p>
              {% if article.micro_picture %}
                  <p class="blog-micro-img"><img src="/uploads/{{ article.micro_picture.name }}"></p>
              {% endif %}
            <p>{{article.get_micro_text_html|safe}}<br/><br/></p>
          {% endif %}
            <hr>
          </div><!-- /.blog-post -->
        {% endfor %}



         <nav class="blog-pagination">
            <a class="btn btn-outline-secondary" href="{% url 'blog:article_list' %}">View More</a>
          </nav>

          <div>
            {% include 'blog/includes/ad_bar.html' %} 
          </div>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">

          <div class="p-3 mb-3 bg-light rounded">
            <h5 class="">Tags</h5>
            <div id="cloud" style="min-height:150px;width:100%;">
            </div>
          </div>

          <div class="p-3 mb-3 bg-light rounded">
            <h5 class="">Categories</h5>
            <ul class="list-group list-group-flush">
              {% for ct in categories %}
                <li class="list-group-item" style="background-color:#F8F9FA;">
                    <a href="{% url 'blog:article_list' %}?category={{ct.category.id}}">
                        {{ct.category.name}}
                        <span class="badge badge-primary badge-pill float-right">{{ct.article_count}}</span>
                    </a>
                </li>
              {% empty %}
              Nothing here.
              {% endfor %}
            </ul>

          </div>

          {% include 'blog/includes/ad_square.html' %}
          {% include 'blog/includes/aside_wechat.html' %}
          {% include 'blog/includes/aside_links.html' %}
          {% include 'blog/includes/ad_square.html' %}


        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}

     <script src="{% static 'js/jqcloud.min.js' %}"></script>
     <script>
         var words = [
             {% for tag in tags %}
              {text: "{{tag.name}}", weight: {{tag.article_set.count}}, link: "{% url 'blog:article_list'%}?tag={{tag.id}}"},
             {% endfor %}
            ];

            $('#cloud').jQCloud(words, {
              shape: 'rectangular'
            });
     </script>
    

</body>
</html>