{% load static %}

<!DOCTYPE html>


<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>首页 - 辛东兴的个人网站</title>
      <link href="{% static 'css/jqcloud.min.css' %}" rel="stylesheet">
  </head>
 <div>

    {% include 'blog/includes/nav.html' %}

    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background:url('/static/images/stars.png') no-repeat;background-size:cover;">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Debug the world.</h1>
          <p class="lead my-3">道阻且长，行则将至。</p>
        <!--   <p class="lead mb-0"><a href="https://getbootstrap.com/docs/4.1/examples/blog/#" class="text-white font-weight-bold">Continue reading...</a></p> -->
        </div>
      </div>
    </div>



    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h5 class="pb-3 mb-4 border-bottom">
            近期博文
          </h5>

        {% for article in pin_articles %}
          <div class="blog-post">
          {% if article.is_micro == 0 %}
            <a href="{% url 'blog:article_detail' article.id %}"><h5>{{article.title}}</h5></a>
            <p class="blog-post-meta"><span class="badge badge-primary">置顶</span> {{article.time}}</p>
            <p>{{article.description}}</p>
          {% else %}
            <h5>{{article.title}}</h5>
            <p class="blog-post-meta"><span class="badge badge-secondary">微博</span> {{article.time}}</p>
              {% if article.micro_picture %}
                  <p><img src="/uploads/micro_images/{{ article.micro_picture.name }}"></p>
              {% endif %}
            <p>{{article.get_micro_text_html|safe}}<br/><br/></p>
          {% endif %}
            <hr>
          </div><!-- /.blog-post -->
        {% endfor %}

        {% for article in recent_articles %}
          <div class="blog-post">
           {% if article.is_micro == 0 %}
            <a href="{% url 'blog:article_detail' article.id %}"><h5>{{article.title}}</h5></a>
            <p class="blog-post-meta">{{article.time}}</p>
            <p>{{article.description}}</p>
          {% else %}
            <h5>{{article.title}}</h5>
            <p class="blog-post-meta"><span class="badge badge-secondary">微博</span> {{article.time}}</p>
              {% if article.micro_picture %}
                  <p class="blog-micro-img"><img src="/uploads/{{ article.micro_picture.name }}"></p>
              {% endif %}
            <p>{{article.get_micro_text_html|safe}}<br/><br/></p>
          {% endif %}
            <hr>
          </div><!-- /.blog-post -->
        {% endfor %}



         <nav class="blog-pagination">
            <a class="btn btn-outline-secondary" href="{% url 'blog:article_list' %}">查看更多</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">

          <div class="p-3 mb-3 bg-light rounded">
            <h5 class="">标签云</h5>
            <div id="cloud" style="min-height:150px;width:100%;">
            </div>
          </div>

          <div class="p-3 mb-3 bg-light rounded">
            <h5 class="">文章分类</h5>
            <ul class="list-group list-group-flush">
              {% for ct in categories %}
                <li class="list-group-item" style="background-color:#F8F9FA;">
                    <a href="{% url 'blog:article_list' %}?category={{ct.category.id}}">
                        {{ct.category.name}}
                        <span class="badge badge-primary badge-pill float-right">{{ct.article_count}}</span>
                    </a>
                </li>
              {% empty %}
              哎呀，还没有分类。
              {% endfor %}
            </ul>

          </div>


          {% include 'blog/includes/aside_wechat.html' %}
          {% include 'blog/includes/aside_links.html' %}


        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}

     <script src="{% static 'js/jqcloud.min.js' %}"></script>
     <script>
         var words = [
             {% for tag in tags %}
              {text: "{{tag.name}}", weight: {{tag.article_set.count}}, link: "{% url 'blog:article_list'%}?tag={{tag.id}}"},
             {% endfor %}
            ];

            $('#cloud').jQCloud(words, {
              shape: 'rectangular'
            });
     </script>
    

</body>
</html>