{% load static %}

<!DOCTYPE html>


<html>
  <head>
      {% include 'blog/includes/head.html' %}
      <title>标签 - 辛东兴的个人网站</title>
      <link href="{% static 'css/jqcloud.min.css' %}" rel="stylesheet">
  </head>
 <div>

    {% include 'blog/includes/nav.html' %}


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h5 class="pb-3 mb-4 border-bottom">
            标签云
          </h5>

        {% if tags %}
          <div class="blog-post">
              <div id="cloud" style="min-height:400px;width:100%;"></div>
          </div><!-- /.blog-post -->
        {% else %}
            博主太懒，居然没有标签！
        {% endif %}



        </div><!-- /.blog-main -->

        <!--<aside class="col-md-4 blog-sidebar">-->

          <!--<div class="p-3 mb-3 bg-light rounded">-->
            <!--<h5 class="">Timeline</h5>-->
            <!--<p class="mb-0">2018年8月</p>-->
            <!--<p class="mb-0">2018年7月</p>-->
            <!--<p class="mb-0">2018年6月</p>-->
            <!--<p class="mb-0">2018年5月</p>-->
          <!--</div>-->


        <!--</aside>&lt;!&ndash; /.blog-sidebar &ndash;&gt;-->

      </div><!-- /.row -->

    </main><!-- /.container -->


 {% include 'blog/includes/footer.html' %}

     <script src="{% static 'js/jqcloud.min.js' %}"></script>
     <script>
         var words = [
             {% for tag in tags %}
              {text: "{{tag.name}}", weight: {{tag.article_set.count}}, link: "{% url 'blog:article_list'%}?tag={{tag.id}}"},
             {% endfor %}
            ];

            $('#cloud').jQCloud(words, {
              shape: 'rectangular'
            });
     </script>

</body>
</html>